AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
PORT=5001

VITE_COGNITO_IDENTITY_POOL_ID=
VITE_AWS_REGION=
VITE_BACKEND_URL=http://localhost:5001

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=face_liveness
